/* === General Styles === */
body {
    background-color: #aad4a9;
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* === Header === */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #649463;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-sizing: border-box;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
    font-size: 28px;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    background-color: #aad4a9;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

.search-bar input {
    border: none;
    padding: 8px;
    width: 250px;
    background: transparent;
    color: black;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

.icons {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-left: 40px;
}

.icons i {
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Style the close button */
.close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Style the menu button */
.menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Style the menu modal */
.menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    display: none;
    z-index: 1000;
}

.menu-modal ul {
    list-style-type: none;
    padding: 0;
}

.menu-modal li {
    margin: 20px 0;
}

.menu-modal a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-modal a:hover {
    color: #4caf50;
    /* Hover color */
}



footer.footer {
    background-color: #4a734a;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer .social-media a {
    margin: 0 15px;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.footer .social-media a:hover {
    color: #d1f1d1;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    display: block;
    color: white;
    margin: 5px 0;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}